{% extends 'base.html' %}
{% load thumbnail %}
{%  block content %}
<a href="{% url "photo_create" %}"><h2 style="color: white;">Add a Photo</h2></a>
<a href="{% url "album_create" %}"><h2 style="color: white;">Add an Album</h2></a>
<h2 class="albums header">Albums</h2>
<div class="gridContainer">
{% for album in albums %}
<div class="gridItem">
{% thumbnail album.cover.image "200x200" as im %}
<a href="{% url "album" pk=album.id %}"><img src="{{ im.url }}" height="200px" width="200px"></a>
{% endthumbnail %}
<a href="{% url "album_edit" pk=album.id %}">Edit</a>
</div>
{% endfor %}
</div>
</b>
<h2 class="photos header">Photos</h2>
<div class="gridContainer">
{% for photo in photos %}
<div class="gridItem">
{% thumbnail photo.image "200x200" as im %}
    <a href="{% url "photo" pk=photo.id %}"><img src="{{ im.url }}" height="200px" width="200px"></a>
{% endthumbnail %}
<a href="{% url "photo_edit" pk=photo.id %}">Edit</a>
</div>
{% endfor %}
</div>
{% endblock content %}