.gridContainer {
  display: inline-grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 15px;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 3%;
}

.gridItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.singleImage {
  background-color: rgb(66, 66, 66);
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 35%;
  margin-top: 5%;
}